__pycache__/main.cpython-312.pyc
__pycache__/models.cpython-312.pyc
__pycache__/Valdations.cpython-312.pyc
__pycache__/ValdationsC.cpython-312.pyc
__pycache__/ValdationsP.cpython-312.pyc
__pycache__/main.cpython-312.pyc
__pycache__/models.cpython-312.pyc
__pycache__/Valdations.cpython-312.pyc
__pycache__/ValdationsC.cpython-312.pyc
__pycache__/ValdationsP.cpython-312.pyc
app/__pycache__/__init__.cpython-312.pyc
app/__pycache__/Dependency.cpython-312.pyc
app/__pycache__/main.cpython-312.pyc
database/__pycache__/__init__.cpython-312.pyc
database/__pycache__/connect.cpython-312.pyc
database/__pycache__/models.cpython-312.pyc
database/crud/__pycache__/__init__.cpython-312.pyc
database/crud/__pycache__/student.cpython-312.pyc
router/__pycache__/__init__.cpython-312.pyc
router/__pycache__/course.cpython-312.pyc
router/__pycache__/professor.cpython-312.pyc
router/__pycache__/student.cpython-312.pyc
Validations/__pycache__/__init__.cpython-312.pyc
Validations/__pycache__/schemas.cpython-312.pyc
Validations/__pycache__/Valdations.cpython-312.pyc
Validations/__pycache__/ValdationsC.cpython-312.pyc
Validations/__pycache__/ValdationsP.cpython-312.pyc
